<div class="main-inner">
	<h2>用户详情</h2>
	<div class="content detail">
		<div class="row">
			<div class="col-lg-2 t-r">用户名：</div>
			<div class="col-lg-10" ng-bind="user.name"></div>
		</div>
		<div class="row">
			<div class="col-lg-2 t-r">性&emsp;别：</div>
			<div class="col-lg-10" ng-bind="user.sex"></div>
		</div>
		<div class="row">
			<div class="col-lg-2 t-r">电&emsp;话：</div>
			<div class="col-lg-10" ng-bind="user.phone"></div>
		</div>
		<div class="row">
			<div class="col-lg-2 t-r">密&emsp;码：</div>
			<div class="col-lg-10" ng-bind="user.password"></div>
			<!--<div class="col-lg-10" ng-bind="**************"></div>-->
		</div>
		<div class="row">
			<div class="col-lg-2 t-r">简&emsp;介：</div>
			<div class="col-lg-10" ng-bind="user.info"></div>
		</div>
	</div>
</div>