<div class="main-inner userlist">
	<h2>用户列表</h2>
	<div class="content list">
		<div class="row title">
			<div class="col-lg-2">用户ID</div>
			<div class="col-lg-2">用户名</div>
			<div class="col-lg-1">性别</div>
			<div class="col-lg-2">密码</div>
			<div class="col-lg-2">电话</div>
			<div class="col-lg-3">简介</div>
		</div>
		<div class="row" ng-repeat="item in list">
			<div class="col-lg-2"><a href="#/userdetail/{{item.P_Id}}">{{item.P_Id}}</a></div>
			<div class="col-lg-2">{{item.name}}</div>
			<div class="col-lg-1">{{item.sex}}</div>
			<!--<div class="col-lg-2">{{item.password}}</div>-->
			<div class="col-lg-2">{{'********'}}</div>
			<div class="col-lg-2">{{item.phone}}</div>
			<div class="col-lg-3">{{item.info}}</div>
		</div>
		<ul class="pagination pull-right">
			<li><a href="#/userlist/{{+num - 1 < 1 ? 1 : +num - 1 }}">前一页</a></li>
			<li><a href="#/userlist/{{+num + 1}}">后一页</a></li>
		</ul>
	</div>
</div>